.Services {
  height: 100vh;
  width: 100vw;
  position: relative;
  // background-color: #f1edda;
  background-size: cover;
  img {
    position: relative;
    width: 100%;
    height: 40%;
    object-fit: cover;
  }
  .service_title {
    color: #f1edda;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002f6d;
    width: 40%;
    font-size: 40px;
    height: 12%;
    left: 10%;
    bottom: 12%;
  }
  .service_description {
    width: 70%;
    height: 400px;
    position: relative;
    bottom: 15%;
    left: 15%;
  }
  @media screen and (max-width: 1024px) {
  height: 150vh;

    img {
      height: 20%;
    }

    .service_title {
      width: 30%;
      height: 8%;
      font-size: 30px;
      bottom: 8%;
    }
    .service_description{
      width: 80%;
      font-size: 28px;
      height: 400px;
      position: relative;
      bottom: 8%;
      left: 10%;
    }
  }
}
